@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  vertical-align: baseline;
  transition: all .2s ease-in-out;
}
* {box-sizing: border-box;}
body {
  font-family: 'Nunito Sans', Lato, sans-serif;
  background-color: #eff0f3;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h1, h2, div, p, a, li {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*Header Info.....................................*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
    min-width: 100%;
    background-color: #077419;
    overflow: hidden;
}
  
.flexbox {
    display: flex;
}
  
.title {
    width: 40%;
    height: 56px;
}
  
.title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    letter-spacing: .2px;
    text-transform: uppercase;
}
  
nav {
    text-align: right;
    width: 60%;
    height: 56px;
    font-size: 100%;
    margin-right: 10vh;
}
  
nav ul {
    float: none;
    list-style: none;
}
  
nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}
  
nav ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
  
nav ul li + li {
    margin-left: 25px;
}
.search-container{
    margin-top: 2vh;
    background-color: rgb(12, 59, 6);
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 2vh;
}
.search-container form{
    padding-right:5vh ;
    padding-left: 5vh;
}
.search-container form input{
    border-radius: 0px;
    font-size: medium;
    background-color: rgba(230, 230, 250, 0);
    color: rgb(255, 255, 255);
    padding-top: 1vh;
}

input::placeholder {
    color: #fdfdfd;
}
.search{
    padding-right: 2vh;
    padding-left: 1vh;
    margin-top: 2vh;
    padding-top: 1vh;
    margin-bottom: 2vh;
    background-color:  rgb(12, 59, 6);
    border-radius: 0px 10px 10px 0px;
}
/*- - - - - - - - - -- - - - - - - - - - - - - - -*/
/*Rows and Column.................................*/
/* - - - - - - - - - - - - - - - - - - - - - - - -*/
.main-column{
    width: calc(70% - 25%);
    height: 600px;
    background-color: rgb(177, 177, 177);
    border-radius: .6px;
    float: left;
    margin-top: 20px;
    margin-left: 15%;
}

.column {
    margin-top: 20px;
    float: left;
    height: 600px;
    background-color: rgb(126, 126, 126);
    border-radius: 6px;
    width: 30%;
}
.container:after{
    display: table;
    clear: both;
    content: "";
}
.p{
    margin-left:15px;
}
h1, h2, div, p, a, li{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    margin-top: calc((100vh - 56px)/2.8);
}

.row {
    margin-top: 30px;
    display: flex;
}

.col{
    height: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #e4e5e4;
}
.three{
    width: calc(33.3333% - 12.5px);
}

.three + .three{
    margin-left: 25px;
}

.fa-user{
    color: #125177;
    border: 8px solid #a3dcff;
    background-color: #a3dcff;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}
.fa-pen-nib{
    color: #076b20;
    border: 8px solid #8dfca8;
    background-color: #8dfca8;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}
.fa-users{
    color: #641304;
    border: 8px solid #df7e6d;
    background-color: #df7e6d;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}

.fa-eye{
    color: #42005c;
    border: 8px solid #d374f8;
    background-color: #d374f8;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}

.fa-comment-dots{
    color: #a10f58;
    border: 8px solid #fc9ccc;
    background-color: #ffa1d0;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}
.fa-clipboard{
    color: #6e4507;
    border: 8px solid #ffcb7e;
    background-color: #ffcb7e;
    border-radius: 5rem;
    margin-top: 6%;
    margin-left: 3.5%;
}

  

